body {
  background-color: #fff;
  padding: 24px 156px 24px 156px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  gap: 24px;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.gallery-item:hover img {
  transform: scale(1.05);
}
img {
  transition: transform 0.25s;
}
