body {
  background-color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.gallery-item {
  width: 360px;
  height: 200px;
}
